<mat-card class="detail-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{apartmentDetail?.title}}</mat-card-title>
    <mat-card-subtitle>{{apartmentDetail?.description}}</mat-card-subtitle>
  </mat-card-header>
        <app-image-slider [apartmentImages]="apartmentDetail?.photos"></app-image-slider>
  
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
          <mat-label>Leave a Comment</mat-label>
          <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">
      Post Comment
      </button>

    </form>

  
</mat-card>